.heading{
	font-family:times new roman;
	text-align:center;
	color:#4d2800;
	text-transform:uppercase;
	font-weight:normal;
	line-height:30px;
	padding-top:10px;
	padding-bottom:10px;
}

.heading span{
	font-size:18px;
}

.content{
	font-family:times new roman;
	color:#4d2800;
	text-align:center;
	padding:40px 30px 70px 30px;
	width: 100%;
}